{% extends 'base.html' %}

{% block linknav %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cliente:cerrar_sesion' %}">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
{% endblock linknav %}

{% block cuerpo %}
<style>
    .boton{
        text-decoration: none;
        color: white;
    }
    .boton:hover{
        text-decoration: none;
        color: white;
    }
</style>


<div class="alert alert-primary" role="alert">Bienvenido {{cliente.nombre}} {{cliente.apellido}}</div>


<div class="row">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4 text-center">
    {% if password_correcto == False %}
    <div data-togle="modal" data-target="#modalContrasena" class="alert alert-danger" role="alert">
        Contraseña incorrecta
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% elif password_valido == False %}
    <div class="alert alert-danger" role="alert">
        La confirmacion de contraseña no coincide
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% elif password_valido == True %}
    <div class="alert alert-success" role="alert">
        Contraseña actualizada exitosamente
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% elif tarjeta_modificada %}
    <div class="alert alert-success" role="alert">
        Tarjeta verificada y actualizada exitosamente
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% elif datos_modificados %}
    <div class="alert alert-success" role="alert">
        Datos actualizados exitosamente
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endif %}
    <div>
        <button class="btn btn-info">
            <a  onclick="alert('Función aun no disponible')" href="#" class="boton">Nuevo Viaje</a>
        </button><br><hr>
        <button class="btn btn-info">
            <a  onclick="alert('Función aun no disponible')" href="#" class="boton">Mis viajes</a>
        </button><br><hr>
        <button class="btn btn-info">
            <a  onclick="alert('Función aun no disponible')" href="#" class="boton">Buscar estacionamiento</a>
        </button><br><hr>
        <button class="btn btn-warning">
            <a href="{% url 'cliente:editar_datos' cliente.id %}" class="boton" data-toggle="modal" data-target="#modalEditar">Actualizar datos</a>
        </button><br><hr>
        <button class="btn btn-warning">
            <a href="{% url 'cliente:cambiar_tarjeta' cliente.id %}" class="boton" data-toggle="modal" data-target="#modalTarjeta">Cambiar tarjeta</a>
        </button><br><hr>
        <button class="btn btn-warning">
            <a href="{% url 'cliente:cambiar_contrasena' cliente.id %}" class="boton" data-toggle="modal" data-target="#modalContrasena">Cambiar contraseña</a>
        </button><br><hr>
        <button class="btn btn-danger">
            <a href="{% url 'cliente:cerrar_sesion' %}" class="boton">Cerrar Sesión</a>
        </button>
    </div>
<div class="col-lg-4 col-md-4"></div>
</div>


<!--MODAL ACTUALIZAR DATOS-->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Actualizar Datos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-group" action="{% url 'cliente:editar_datos' cliente.id %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" value="{{cliente.email}}" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" type="text" value="{{cliente.nombre}}" name="nombre" id="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input class="form-control" type="text" value="{{cliente.apellido}}" name="apellido" id="apellido" required>
                </div>
                <div class="form-group">
                    <label for="comuna">Comuna</label>
                    <select class="form-control" id="comuna" name="comuna" required>
                        {% if cliente.comuna == 'La Reina' %}
                            <option selected>{{cliente.comuna}}</option>
                            <option>Providencia</option>
                            <option>Ñuñoa</option>
                        {% elif cliente.comuna == 'Providencia' %}
                            <option selected>{{cliente.comuna}}</option>
                            <option>La Reina</option>
                            <option>Ñuñoa</option>
                        {% elif cliente.comuna == 'Ñuñoa' %}
                            <option selected>{{cliente.comuna}}</option>
                            <option>La Reina</option>
                            <option>Providencia</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input class="form-control" type="text" value="{{cliente.direccion}}" name="direccion" id="direccion" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL CAMBIAR TARJETA-->
<div class="modal fade" id="modalTarjeta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cambiar Tarjeta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-group" action="{% url 'cliente:cambiar_tarjeta' cliente.id %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="tarjeta_numero">Numero tarjeta</label>
                    <input class="form-control" type="number" value="{{cliente.tarjeta_numero}}" name="tarjeta_numero" id="tarjeta_numero">
                </div>
                <div class="form-group">
                    <label for="tarjeta_mes">Caducidad</label>
                    <div class="form-inline">
                        <input class="form-control col-3" type="number" value="{{cliente.tarjeta_mes}}" name="tarjeta_mes" id="tarjeta_mes" required>/
                        <input class="form-control col-3" type="number" value="{{cliente.tarjeta_anio}}" name="tarjeta_anio" id="tarjeta_anio" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tarjeta_codigo">CVV</label>
                    <input class="form-control col-3" type="password" value="" name="tarjeta_codigo" id="tarjeta_codigo" required>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Verificar y actualizar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL CAMBIAR CONTRASEÑA-->
<div class="modal fade" id="modalContrasena" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cambiar Contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-group" action="{% url 'cliente:cambiar_contrasena' cliente.id %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="password">Contraseña Actual</label>
                    <input class="form-control" type="password"  name="password" id="password" required>
                </div>
                <div class="form-group">
                    <label for="password_nueva">Contraseña Nueva</label>
                    <input class="form-control" type="password"  name="password_nueva" id="password_nueva" required>
                </div>
                <div class="form-group">
                    <label for="password_nueva2">Confirmar Contraseña</label>
                    <input class="form-control" type="password"  name="password_nueva2" id="password_nueva2" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Cambiar contraseña</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>




{% endblock cuerpo %}