{% extends 'base.html' %}

{% block cuerpo %}

    <div class="col-12 text-center"><h4>Registro de Clientes</h4></div>
    <hr>

    
    
    <div class="row">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4">
        <form style="padding: 3px;" class="mx-auto" action="{% url 'cliente:registrar_usuario' %}" method="POST">{% csrf_token %}
            {% if validador %}
            <div class="alert alert-success" role="alert">
                Registro completado exitosamente
            </div>
            {% endif %}
            {% if existe %}
            <div class="alert alert-danger" role="alert">
                El correo ingresado ya se encuentra registrado
            </div>
            {% endif %}
            <div class="form-group mx-auto">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Correo@ejemplo.com" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingresar contraseña" required>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar nombre" required>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingresar apellido" required>
            </div>
            <div class="form-group">
                <label for="comuna">Comuna</label>
                <select class="form-control" id="comuna" name="comuna" required>
                    <option>La Reina</option>
                    <option>Providencia</option>
                    <option>Ñuñoa</option>
                </select>
                </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingresar direccion" required>
            </div>
            <div class="form-group">
                <label for="tarjeta_numero">Numero Tarjeta</label>
                <input type="number" class="form-control" id="tarjeta_numero" name="tarjeta_numero" placeholder="Ingresar numero de tarjeta" required>
            </div>
            <div class="form-group">
                <label for="tarjeta_mes">Caducidad</label><br>
                <input type="number" style="display: inline-block" class="form-control col-5" id="tarjeta_mes" name="tarjeta_mes" placeholder="MM" required>
                / <input type="number" style="display: inline-block" class="form-control col-5" id="tarjeta_anio" name="tarjeta_anio" placeholder="AA" required>
            </div class="form-control">
                <label for="tarjeta_codigo">Código</label>
                <input type="password" class="form-control col-4" id="tarjeta_codigo" name="tarjeta_codigo" placeholder="CVV" required>
            </div>
            <div class="col-12 text-center">
                <hr>
                <button type="submit" class="btn btn-primary">Registrarse</button><br>
                <a href="{% url 'cliente:iniciar_sesion' %}">¿Tienes cuenta? Inicia Sesión</a><br>
            </div>
        </form>
        <div class="col-lg-4 col-md-4"></div>
    </div>
    </div>

{% endblock cuerpo%}