{% extends 'base.html' %}

{% block linknav %}
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrativo:perfil' %}">Perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrativo:administrador_usuarios' %}">Administrador de Clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrativo:ver_administrativos' %}">Ver Administrativos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'administrativo:cerrar_sesion' %}">Cerrar Sesión</a>
    </li>
  </ul>
</div>
{% endblock linknav %}

{% block cuerpo %}
<form class="form-inline" action="{% url 'administrativo:buscar_id' %}" method="POST">{% csrf_token %}
  <input class="form-control mr-sm-2" type="number" placeholder="Ingresar id" aria-label="Search" id="idBuscar" name="idBuscar" required>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar por id</button> 
  <button class="btn btn-outline-secondary btn-secondary"><a style="text-decoration: none; color:black;" href="{% url 'administrativo:administrador_usuarios' %}">Mostrar todos</a></button>
</form>
{% if validador_borrado %}
<div class="alert alert-success" role="alert">
    Cliente Eliminado Exitosamente
</div>
{% endif %}

{% if existe %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Email</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
            <tr>
            <td>{{cliente.id}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>
              <a href="#" data-toggle="modal" data-target="#modalActualizar" style="color: green;">Editar</a>
            <a href="#" data-toggle="modal" data-target="#modalEliminar" style="color: red;"><strong>Eliminar</strong> </a>
            </td>
            </tr>
    </tbody>
</table>

<!--MODAL ELIMINAR-->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Está seguro que desea eliminar al cliente <strong>{{cliente.nombre}} {{cliente.apellido}}</strong>?
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="{% url 'administrativo:eliminar_cliente' cliente.id %}">Eliminar</a></button>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL ACTUALIZAR-->
  <div class="modal fade" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar datos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--FORM DENTRO DE MODAL-->
        <div class="modal-body">

          <form class="form-group" action="{% url 'administrativo:editar_usuario' cliente.id %}" method="POST">{% csrf_token %}
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{cliente.email}}" placeholder="Correo@ejemplo.com" required>
            </div>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" value="{{cliente.nombre}}" placeholder="Ingresar nombre" required>
            </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
              <input type="text" class="form-control" id="apellido" name="apellido" value="{{cliente.apellido}}" placeholder="Ingresar apellido" required>
          </div>
          
          <div class="form-group">
            <label for="comuna">Comuna</label>
            <select class="form-control" id="comuna" name="comuna" required>
                {% if cliente.comuna == 'La Reina' %}
                <option selected>{{cliente.comuna}}</option>
                    <option>Providencia</option>
                    <option>Ñuñoa</option>
                {% elif cliente.comuna == 'Providencia' %}
                <option selected>{{cliente.comuna}}</option>
                    <option>La Reina</option>
                    <option>Ñuñoa</option>
                {% elif cliente.comuna == 'Ñuñoa' %}
                <option selected>{{cliente.comuna}}</option>
                <option>La Reina</option>
                    <option>Providencia</option>
                    {% endif %}
              </select>
            </div>
            <div class="form-group">
              <label for="direccion">Dirección</label>
              <input type="text" class="form-control" id="direccion" name="direccion" value="{{cliente.direccion}}" placeholder="Ingresar direccion" required>
            </div>
          </div>
          <div class="col-12 text-center modal-footer">
              <hr>
              <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-success">Modificar</button>
          </div>
        </form>
      </div>
    </div>
  </div>


{% else %}
<div class="alert alert-danger" role="alert">
    No se encontró ningun usuario con id: {{idBuscado}}
</div>
{% endif %}


{% endblock cuerpo %}