{% extends 'base.html' %}

{% block cuerpo %}
    <div class="col-12 text-center"><h4>Acceso Administrativo</h4></div>
    <hr>

    <div class="row">
        <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4">
            <form style="padding: 3px;" action="{% url 'administrativo:perfil' %}" method="POST">{% csrf_token %}
                {% if validador %}
                <div class="alert alert-danger" role="alert">
                    Email y/o Contraseña incorrectas
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo@ejemplo.com">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingresar contraseña">
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button><br>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-4"></div>
    </div>
    
{% endblock cuerpo %}