{% extends 'base.html' %}

{% block linknav %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrativo:perfil' %}">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrativo:administrador_usuarios' %}">Administrador de Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrativo:ver_administrativos' %}">Ver Administrativos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrativo:cerrar_sesion' %}">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
{% endblock linknav %}



{% block cuerpo %}
<style>
    .boton{
        text-decoration: none;
        color: white;
    }
    .boton:hover{
        text-decoration: none;
        color: white;
    }
</style>

{% if validador == True %}
<div class="alert alert-success" role="alert">Cliente creado exitosamente
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif existe == True %}
<div class="alert alert-danger" role="alert">El email que intenta registrar ya se encuentra registrado
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif existe_administrativo %}
<div class="alert alert-danger" role="alert">El email de administrativo que intenta registrar ya se encuentra registrado
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif validador_administrativo %}
<div class="alert alert-success" role="alert">Nuevo administrativo registrado exitosamente
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-primary" role="alert">Bienvenido {{administrativo.nombre}} {{administrativo.apellido}}</div>
{% endif %}

<div class="row">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4 text-center">
        <button class="btn btn-info">
            <a class="boton" href="{% url 'administrativo:administracion_usuarios' %}">Administrador de Clientes</a>
        </button><br><hr>
        <button class="btn btn-info">
            <a href="{% url 'administrativo:registrar_usuario' %}" class="boton" data-toggle="modal" data-target="#modalCliente">Crear Nuevo Cliente</a>
        </button><br><hr>
        <button class="btn btn-info">
            <a href="{% url 'administrativo:registrar_administrativo' %}" class="boton" data-toggle="modal" data-target="#modalAdministrativo">Crear Nuevo Administrativo</a>
        </button><br><hr>
        <button class="btn btn-info">
            <a class="boton" href="{% url 'administrativo:ver_administrativos' %}">Ver Administrativos</a>
        </button><br><hr>
        <button class="btn btn-info">
            <a  onclick="alert('Función aun no disponible')" href="#" class="boton">Generar Reportes</a>
        </button><br><hr>
        <button class="btn btn-danger">
            <a href="{% url 'cliente:cerrar_sesion' %}" class="boton">Cerrar Sesión</a>
        </button>
    </div>
    <div class="col-lg-4 col-md-4"></div>
</div>

<!--MODAL CREAR NUEVO CLIENTE-->
<div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Nuevo Cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form style="padding: 3px;" class="mx-auto" action="{% url 'administrativo:registrar_usuario' %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo@ejemplo.com" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingresar contraseña" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingresar apellido" required>
                </div>
                <div class="form-group">
                    <label for="comuna">Comuna</label>
                    <select class="form-control" id="comuna" name="comuna" required>
                        <option>La Reina</option>
                        <option>Providencia</option>
                        <option>Ñuñoa</option>
                    </select>
                    </div>
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingresar direccion" required>
                </div>
                <div class="form-group">
                    <label for="tarjeta_numero">Numero Tarjeta</label>
                    <input type="number" class="form-control" id="tarjeta_numero" name="tarjeta_numero" placeholder="Ingresar numero de tarjeta" required>
                </div>
                <div class="form-group">
                    <label for="tarjeta_mes">Caducidad</label><br>
                    <input type="number" style="display: inline-block" class="form-control col-5" id="tarjeta_mes" name="tarjeta_mes" placeholder="MM" required>
                    / <input type="number" style="display: inline-block" class="form-control col-5" id="tarjeta_anio" name="tarjeta_anio" placeholder="AA" required>
                </div class="form-control">
                    <label for="tarjeta_codigo">Código</label>
                    <input type="password" class="form-control col-4" id="tarjeta_codigo" name="tarjeta_codigo" placeholder="CVV" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Registrar</button><br>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL CREAR NUEVO ADMINISTRATIVO-->
<div class="modal fade" id="modalAdministrativo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Nuevo Administrativo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form style="padding: 3px;" class="mx-auto" action="{% url 'administrativo:registrar_administrativo' %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo@ejemplo.com" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingresar contraseña" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresar nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingresar apellido" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Registrar</button><br>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock cuerpo %}