{% extends 'base.html' %}

{% block linknav %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrativo:perfil' %}">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrativo:administrador_usuarios' %}">Administrador de Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrativo:ver_administrativos' %}">Ver Administrativos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrativo:cerrar_sesion' %}">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
{% endblock linknav %}

{% block cuerpo %}

<table class="table">
    <thead>
        <tr>
        <th scope="col">id</th>
        <th scope="col">Email</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        </tr>
    </thead>
    {% for administrativo in administrativos %}
    <tbody>
        <tr>
            <td>{{administrativo.id}}</td>
            <td>{{administrativo.email}}</td>
            <td>{{administrativo.nombre}}</td>
            <td>{{administrativo.apellido}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

            
{% endblock cuerpo %}

            

