{% extends 'base.html' %}

{% block cuerpo %}

<style>
    .botoninicio{
        text-decoration: none;
        color: white;
        display: inline-block;
    }
    .botoninicio:hover{
        text-decoration: none;
        color: white;
    }
</style>



{% if sesion_cerrada %}
<div class="alert alert-danger" role="alert">Sesión Finalizada
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="col-12 text-center"><h4>Bienvenido a MOBIKE</h4></div>
<hr>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        Miles de bicicletas disponibles a tu alrededor. ¡Finaliza el recorrido en cualquier estacionamiento para bicicletas que esté cerca de tu lugar de destino. Ya no tendrás que acarrear tu propia bicicleta a todos lados ni viajar apretado en los autobuses. ¡Simplemente usa Mobike para llegar a donde quieras!
        <hr>
    </div>
    <div class="col-2"></div>
</div>
<br>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center">
        <button class="btn btn-primary">
            <a href="{% url 'cliente:iniciar_sesion' %}" class="botoninicio">Iniciar Sesión</a>
        </button><br>
        <small><a href="{% url 'cliente:registrar_usuario' %}">¿No tienes cuenta? Registrate</a></small>
    </div>
    <div class="col-2"></div>
    
</div>
{% endblock cuerpo %}